@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* The background color and foreground text color are now handled by Tailwind classes in layout.tsx */
:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

/* No need to set body styles here */

/* Custom utility to hide scrollbar on horizontal sections */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
